.main-profile-container {
  background-color: #f6f6f6;
}

.profile-container-wrapper {
  padding: 1rem 3rem;
}
.profile-full-paper {
  padding: 13px;
}
.account {
  margin-bottom: 13px !important;
}
.sigPadContainer {
  background-color: rgb(238, 235, 235);
  padding: 0 10px 10px;
}
.sigCanvas {
  width: 100%;
  height: 200px;
}
